/* src/components/SignUpForm.css */
.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.form-container h2 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.form-container p {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: red;
  font-size: 12px;
}
